<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ruanjian.xin.xiaocaidao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Login.First" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登陆注册相关页-->
        <activity android:name=".ui.Login.Sign_in"/>
        <activity android:name=".ui.Login.success"/>
        <activity android:name=".ui.Login.Login"/>
        <!--Client主框架-->
        <activity android:name=".Client"/>
        <!--Tab相关页-->
        <activity android:name=".ui.MainPage" />
        <activity android:name=".ui.MenuPage" />
        <activity android:name=".ui.FriendPage" />
        <activity android:name=".ui.PersonPage" />
    </application>

</manifest>